default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: <%= ENV.fetch('DATABASE_USERNAME', 'investra') %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', 'investra') %>
  host: <%= ENV.fetch('DATABASE_HOST', 'db') %>

development:
  <<: *default
  database: investra_development

test:
  <<: *default
  database: investra_test

production:
  <<: *default
  database: investra_production
  username: investra
  password: <%= ENV['INVESTRA_DATABASE_PASSWORD'] %>
