default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: investra
  password: investra
  host: <%= ENV.fetch("DB_HOST", "investra-db-1") %>

development:
  <<: *default
  database: investra_development

test:
  <<: *default
  database: investra_test
  host: <%= ENV.fetch("DB_HOST", "investra-db-1") %>

production:
  <<: *default
  database: investra_production
  username: investra
  password: <%= ENV['INVESTRA_DATABASE_PASSWORD'] %>
