default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: investra
  password: investra
  host: investra-db-1  # Matches your actual DB container name

development:
  <<: *default
  database: investra_development

test:
  <<: *default
  database: investra_test
  host: investra-db-1  # Ensure Rails uses same DB container in test env

production:
  <<: *default
  database: investra_production
  username: investra
  password: <%= ENV['INVESTRA_DATABASE_PASSWORD'] %>

