default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: investra
  password: investra
  host: db

development:
  <<: *default
  database: investra_development

test:
  <<: *default
  database: investra_test
  host: <%= ENV.fetch('DATABASE_HOST', ENV['DATABASE_URL'] ? '127.0.0.1' : 'db') %>
  username: <%= ENV.fetch('DATABASE_USERNAME', ENV['DATABASE_URL'] ? 'root' : 'investra') %>
  password: <%= ENV.fetch('DATABASE_PASSWORD', ENV['DATABASE_URL'] ? '' : 'investra') %>

production:
  <<: *default
  database: investra_production
  username: investra
  password: <%= ENV['INVESTRA_DATABASE_PASSWORD'] %>
