default: &default
  adapter: mysql2
  encoding: utf8mb4
  pool: 5
  username: investra
  password: investra
  host: db

development:
  <<: *default
  database: investra_development

test:
  <<: *default
  database: investra_test
  host: <%= ENV['CI'] == 'true' ? '127.0.0.1' : 'db' %>
  username: investra
  password: investra

production:
  <<: *default
  database: investra_production
  username: investra
  password: <%= ENV['INVESTRA_DATABASE_PASSWORD'] %>
