default: &default
  adapter: <%= ENV.fetch("DB_ADAPTER", "mysql2") %>
  encoding: utf8mb4
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  username: investra
  password: investra
  host: <%= ENV.fetch("DB_HOST", "investra-db-1") %>

development:
  <<: *default
  database: investra_development

test:
  <<: *default
  database: investra_test
  host: <%= ENV.fetch("DB_HOST", "investra-db-1") %>

production:
  <% if ENV['DATABASE_URL'] %>
  <% db = URI.parse(ENV['DATABASE_URL']) %>
  <% is_postgres = db.scheme == 'postgres' || db.scheme == 'postgresql' %>
  adapter: <%= is_postgres ? 'postgresql' : (db.scheme == 'mysql' || db.scheme == 'mysql2' ? 'mysql2' : db.scheme) %>
  encoding: <%= is_postgres ? 'unicode' : 'utf8mb4' %>
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  host: <%= db.host %>
  port: <%= db.port %>
  username: <%= db.user %>
  password: <%= db.password %>
  database: <%= db.path[1..-1] %>
  <% else %>
  <<: *default
  database: investra_production
  username: <%= ENV.fetch('DB_USERNAME', 'investra') %>
  password: <%= ENV['INVESTRA_DATABASE_PASSWORD'] || ENV['DB_PASSWORD'] %>
  host: <%= ENV.fetch('DB_HOST', 'localhost') %>
  <% end %>
