<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<h1>Portfolio Manager Dashboard</h1>
<p>Welcome, <%= @user&.first_name %>!</p>

<%= link_to "Log Out", logout_path, data: { turbo_method: :delete } %>